fieldset {
    width: 500px;
    height: 300px;
}

legend {
    font-size: 25px;
    color: red;
}

#color {
    margin: 20px;
    padding: 5px;
    width: 500px;
    height: 32px;
    padding-right: 0px;
    list-style: none;
    border: 1px solid rgb(175, 170, 171);
}

li {
    width: 20px;
    height: 25px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

#co-0 {
    background: rgb(175, 170, 171);
}
.co{
    margin-top: 0px;
}
    
#co-1 {
    background: rgb(19, 46, 122);
}

#co-2 {
    background: rgb(182, 202, 255);
}

#co-3 {
    background: rgb(206, 8, 8);
}

#co-4 {
    background: rgb(55, 255, 255);
}

#co-5 {
    background: rgb(208, 212, 0);
}

.word {
    background: rgb(126, 126, 126);
    width: 400px;
    height: 90px;
    float: left;
    margin-left: 48px;
    text-align: center;
}
